.favorits {
  background-color: #b8b8b8;
  min-height: 680px;
  color: white;
}

h2 {
  margin: -10px 0 25px 0;
}

#locsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

