.landingPage {
  background-image: url("../Images/totally-clear-sky.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

#mainIcon {
  height: 80px;
}

#every3hours {
  display: flex;
  width: 100%;
  overflow-x: scroll;
}

hr {
  margin: 0px;
}

.daily {
  display: grid;
  grid-template-columns: 20px 130px auto 50px 10px;
  width: 90%;
}

.dailyDay {
  grid-column: 2;
  justify-self: start;
}

.dailyIcon {
  grid-column: 3;
}

.dailyTempMax {
  grid-column: 4;
}

.dailyTempMin {
  grid-column: 5;
}